.navbar-nav .nav-link {
    font-size: 18px;
    padding: 10px;
  }
  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #f8b400 !important; /* Yellow active link */
  }
  @media (min-width: 992px) {
    .offcanvas {
      display: none !important;
    }
    .btn_pa{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
  body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  button i {
    font-size: 1.3rem;
  }

 